---
import { PlusCircleIcon, CheckIcon } from "@heroicons/react/24/outline";

import TracksTable from '../../components/PlaylistTracksTable.astro';
import Layout from '../../layouts/Layout.astro';
import { playlistsData } from "../../lib/playlist";

export async function getStaticPaths() {
  return playlistsData.map((playlist) => ({
    params: { id: playlist.id },
  }));
}

const { id } = Astro.params;
const playlist = playlistsData.find((playlist) => playlist.id === id);

if (!playlist) {
  throw new Error(`Playlist con ID "${id}" no encontrado.`);
}
---

<Layout>
  <div class="relative flex flex-col overflow-hidden">

    <!-- Gradiente dentro del contenedor principal -->
    <div
      class="absolute inset-0 z-[-1] bg-gradient-to-b from-context"
      style={`--context-color:${playlist.color.accent}`}
    ></div>


    <!-- Información de la playlist -->
    <div class="bg-zinc-900/60 p-6 flex flex-col gap-4 items-start relative z-10">
      <a href="/" class="md:hidden p-2 rounded-full bg-zinc-800">
        <img src="/icons/chevron-left.svg" alt="Volver" />
      </a>

      <div class="flex flex-row gap-4">
        <img
          transition:name={`playlist ${playlist?.id} image`}
          src={playlist.cover}
          alt={playlist.name}
          class="object-cover h-40 w-40 min-w-32 md:h-52 md:w-52 rounded-md shadow-lg"
        />
        

        <div class="flex flex-col justify-end">
          <span class="uppercase text-sm font-semibold text-gray-400">Playlist</span>
          <h1 class="text-2xl md:text-6xl font-bold md:mb-4">
            {playlist.name}
          </h1>
          <div class="text-gray-300">
            <p class="font-medium">{playlist.artists.join(", ")}</p>
            <p class="text-sm mt-1">
              {playlist.tracks.length} canciones
            </p>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Botones y contenido principal -->
    <div class="bg-zinc-900/70 flex-1 p-6 relative z-10">
      <div class="flex items-center gap-4">
        <button class="bg-green-500 text-black px-6 py-2 rounded-full font-semibold hover:bg-green-400">
          Reproducir
        </button>
        <button class="text-gray-400 hover:text-white">
          <PlusCircleIcon className="h-6 w-6" />
        </button>
        <button class="text-gray-400 hover:text-white">
          <CheckIcon className="h-6 w-6" />
        </button>
      </div>

      <!-- Tabla de canciones -->
      <div class="mt-8">
        <TracksTable playlist={playlist} />
      </div>
    </div>

  </div>
</Layout>

