---
import type { Album } from "../lib/albums";
import { PlayCircleIcon } from "@heroicons/react/24/solid";

interface Props {
  album: Album;
}

const { album } = Astro.props;
---
<a
    href={`/album/${album.id}`}
    class="pr-2 playlist-item flex justify-between group relative transition-all duration-300 items-center gap-2 rounded-md bg-zinc-900/40 hover:bg-zinc-500/50"
    data-color={album.color.dark}
>
    <div class="flex items-center gap-2">

        <div class="relative flex-shrink-0">
            <img
                src={album.cover}
                alt={album.name}
                class="object-cover h-12 w-12 md:h-16 md:w-16 rounded-l-md group-hover:brightness-50 transition-all duration-300"
                transition:name={`album ${album?.id} image`}
            />

            <button class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-300 bg-zinc-800/20 rounded-l-md p-4 text-white">
                <PlayCircleIcon />
            </button>
        </div>

        <div class="font-semibold text-xs md:text-sm line-clamp-2 leading-tight flex-1">
            {album.name}
        </div>
    </div>
</a>
