---
import type { Track } from "../lib/playlist"

const { playlist } = Astro.props;
---

<table class="w-full text-left">
  <thead>
    <tr class="text-gray-300 text-sm">
      <th class="font-light p-2">#</th>
      <th class="font-light p-2">Titulo</th>
      <th class="font-light p-2 text-right">Duración</th>
    </tr>
  </thead>
  <tbody>
    {playlist.tracks.map((track: Track, index: number) => (
      <tr class="group hover:bg-gray-500/20 rounded-md">
        <td class="p-2 text-sm text-gray-300">{index + 1}</td>
        <td class="p-2 flex gap-3 items-center">
          <img
            src={playlist.cover}
            alt={track.title}
            class="rounded object-cover h-10 w-10"
          />
          <div class="text-sm group hover:text-white">
            <a href="#" class="font-semibold">
              {track.title}
            </a>
            <div class="text-gray-400">
              {track.artist}
            </div>
          </div>
        </td>
        <td class="text-sm p-2 text-right">
          {track.duration}
        </td>
      </tr>
    ))}
  </tbody>
</table>
