---
import { PlayCircleIcon } from "@heroicons/react/24/solid";
import type { Playlist } from "../lib/types";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
---
<a
    href={`/playlist/${playlist.id}`}
    class="p-2 playlist-item flex-shrink-0 flex justify-between group relative transition-all duration-300 items-center gap-2 rounded-md hover:bg-zinc-800"
    data-color={playlist.color.dark}
>
    <div class="flex flex-col gap-2">
        <div class="relative flex-shrink-0">
            <img
                src={playlist.cover}
                alt={playlist.name}
                class="object-cover w-32 h-32 md:w-40 md:h-40 rounded-lg group-hover:brightness-50 transition-all duration-300"
            />
            <button class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-300 bg-zinc-800/20 rounded-l-md p-4 text-white">
                <PlayCircleIcon className="h-8 w-8 md:h-14 md:w-14" />
            </button>
        </div>
        <div>
            <span class="font-semibold text-sm line-clamp-1">{playlist.name}</span>
        </div>
    </div>
</a>

