---
import { albumsData } from "../lib/albums";

---
<div class="p-4">
  <div>
    <h1 class="text-2xl font-bold mb-4">Álbumes destacados</h1>
  </div>
  
  <ul class="flex flex-wrap">
    {albumsData.map((album) => (
      <li class="playlist-item w-full p-2 hover:bg-zinc-800 transition duration-200 cursor-pointer rounded-md" data-color={album.color.dark}>
        <a href=`/album/${album.id}` class="flex items-center gap-4">
            <img
                src={album.cover} 
                alt={album.name}
                class="w-16 h-16 rounded-md" 
            />
            <div>
                <h3 class="font-semibold">{album.name}</h3>
                <p class="text-sm text-gray-400">{album.artist}</p>
            </div>
        </a>					
      </li>
    ))}
  </ul>
</div>
